# Виртуальное окружение и кэш Python
/.venv/
__pycache__/
*.pyc

# Локальные медиафайлы и результаты транскрибации
/mnt/data/*

# Артефакты сборки PyInstaller
/build/
/dist/

# Локальные модели и бинарники ffmpeg
/models/
/third_party/
